/* font */

@font-face {
  font-family: pangram;
  src: url('fonts/Pangram.ttf');
}
* {
  font-family: pangram;
}

/*Nav Text animation */
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;

  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
